In [2]:
import pandas as pd
import numpy as np

In [4]:
#reads spreadsheet
file = pd.read_csv('/Users/colleenl/Documents/datasets/data.csv')

In [6]:
#shows beginning of spreadsheet data
file.head()

   Student  Study Hours  Exam Score
0        1            4          45
1        2            3          78
2        3            2          70
3        4            4          56
4        5            6          55

In [8]:
#shows ending of spreadsheet data
file.tail()

   Student  Study Hours  Exam Score
5        6            2          98
6        7            4          76
7        8            6          89
8        9            2          45
9       10            7          42

In [10]:
#### USING PANDAS ####

#computes sum of Exam Score column
sum = file["Exam Score"].sum()

#computes mean of Exam Score column
mean = file["Exam Score"].mean()

#computes std dev
standardDev = file["Exam Score"].std()

In [12]:
#### STEP BY STEP (without pandas) ####

#retrieves number of rows
#shape returns (row, col); index 0 returns the number of rows
rows = file.shape[0]

In [14]:
#arrays and shape with numPy
arr = np.array(0)
print(arr)
print(arr.shape)

0
()

In [16]:
#computing deviations from mean
file["deviation"] = file["Exam Score"]-mean

In [18]:
#computes standard deviation
#mean deviation
meanDev = (file["deviation"] ** 2).sum()/(rows-1)
std = meanDev ** 0.5
print(std)

19.687559523719543