In [28]:
import math
import pandas as pd
import numpy as np
import scipy.stats as stats
from statsmodels.stats.weightstats import ztest

In [30]:
file = pd.read_csv("/Users/colleenl/Documents/datasets/heights.csv")
file.head()

,Unnamed: 0,US Height (in),Swedish Height (in),Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,1,69.12,74.56,NaN,NaN,NaN,NaN,NaN,NaN
1,2,66.88,71.89,NaN,NaN,NaN,NaN,NaN,NaN
2,3,74.82,73.00,NaN,NaN,NaN,NaN,NaN,NaN
3,4,67.00,67.78,NaN,NaN,NaN,NaN,NaN,NaN
4,5,69.12,72.22,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
list(file.columns)

['Unnamed: 0',
 'US Height (in)',
 'Swedish Height (in)',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8']

In [34]:
file = file.drop(columns=['Unnamed: 0', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'])
list(file.columns)

['US Height (in)', 'Swedish Height (in)']

In [36]:
##calculates mean of US column using numpy
usMean = np.mean(file['US Height (in)'])
print(usMean)

##calculates mean of Swedish column using numpy
sweMean = np.mean(file['Swedish Height (in)'])
print(sweMean)

##calculates std of US heights
usStd = np.std(file['US Height (in)'])
print(usStd)

##calculates std of Swedish heights
sweStd = np.std(file['Swedish Height (in)'])
print(sweStd)

#sample size, n
n = np.shape(file)[0]

69.696
71.49633333333334
2.9663598343199475
2.3588195965119696

In [38]:
#Null Hypothesis, Ho: M1 - M2 = 0
#Alternative Hypothesis, Ha: M1 - M2 != 0
#M1: mean height of US male population and M2: mean height of Swedish male population

#diff = M1 - M2
diff = 0

z_value = ((usMean - sweMean) - (diff)) / math.sqrt( ((usStd**2)/n) + ((sweStd**2)/n))
print(z_value)

-2.601873173829007

In [40]:
#p-value for one sided
p_value = stats.norm.sf(abs(z_value))

#p-value for two sided
print(p_value * 2)

0.009271613266287438

In [42]:
#statsmodels.stats.weightstats.ztest(x1, x2=None, value=0 (M1 - M2), alternative='two-sided', usevar='pooled', ddof= 1.0)Â¶

z_test = ztest(file['US Height (in)'], file['Swedish Height (in)'], 0, "two-sided")

#output is (test statistic, p-value)
p_value2 = z_test[1]
print(p_value2)

0.010523338417549408

In [44]:
#conclusion
if(p_value2 < 0.05):
    print("we reject null hypothesis. US and Swedish male populations are significantly different in height")
elif (p_value2 >= 0.05):
    print("we fail to reject null hypothesis")

we reject null hypothesis. US and Swedish male populations are significantly different in height